## g' Filter Table and Math

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import odr
from math import log

df = pd.read_csv(r"C:\Users\Jonathan Chavez\OneDrive\Desktop\GBO-Calibration\g'filter.csv",
                 sep=",", encoding='cp1252')#encoding added as solution from encoding as UTF-8

df.head(14)

    id      xCenter  aperture_sum  aperture_sum_err
0    1  2825.058367  2.836636e+06       1836.981328
1    2  2070.508843  3.356012e+04        738.727345
2    3  2333.906270  4.980129e+04        739.948092
3    4  2168.696896  3.062307e+04        721.106685
4    5   417.071420  1.789245e+05        825.557591
5    6  1060.293465  4.171433e+05        956.224585
6    7  1337.309923  4.415587e+04        734.281508
7    8  1993.912750  2.955426e+05        893.942479
8    9  3106.370670  5.385574e+05       1023.843231
9   10  3406.027967  8.528918e+04        767.206503
10  11  3685.485847  1.048790e+06       1254.612425
11  12  3754.036448  8.578675e+05       1172.657060
12  13   798.731120  3.844310e+04        741.732881
13  14  1777.859011  1.019788e+05        789.311690

In [6]:
df['log_sum'] = -2.5 * np.log10(df['aperture_sum'])
df['log_err'] = -2.5 * np.log10(df['aperture_sum_err'])

df['log_sum_with_error'] = df.apply(lambda row: f"{row['log_sum']:.5f} ± {row['log_err']:.5f}", axis=1)
print(df.log_sum_with_error)

0     -16.13201 ± -8.16026
1     -11.31456 ± -7.17121
2     -11.74310 ± -7.17300
3     -11.21512 ± -7.14500
4     -13.13167 ± -7.29187
5     -14.05071 ± -7.45140
6     -11.61247 ± -7.16466
7     -13.67655 ± -7.37827
8     -14.32808 ± -7.52558
9     -12.32723 ± -7.21228
10    -15.05172 ± -7.74627
11    -14.83355 ± -7.67293
12    -11.46205 ± -7.17562
13    -12.52128 ± -7.24312
Name: log_sum_with_error, dtype: object

In [13]:
df.head(14)

,id,xCenter,aperture_sum,aperture_sum_err,log_sum,log_err,log_sum_with_error
0,1,2825.058367,2.836636e+06,1836.981328,-16.132009,-8.160262,-16.13201 ± -8.16026
1,2,2070.508843,3.356012e+04,738.727345,-11.314559,-7.171210,-11.31456 ± -7.17121
2,3,2333.906270,4.980129e+04,739.948092,-11.743102,-7.173003,-11.74310 ± -7.17300
3,4,2168.696896,3.062307e+04,721.106685,-11.215122,-7.144999,-11.21512 ± -7.14500
4,5,417.071420,1.789245e+05,825.557591,-13.131674,-7.291868,-13.13167 ± -7.29187
5,6,1060.293465,4.171433e+05,956.224585,-14.050713,-7.451400,-14.05071 ± -7.45140
6,7,1337.309923,4.415587e+04,734.281508,-11.612471,-7.164656,-11.61247 ± -7.16466
7,8,1993.912750,2.955426e+05,893.942479,-13.676550,-7.378274,-13.67655 ± -7.37827
8,9,3106.370670,5.385574e+05,1023.843231,-14.328080,-7.525584,-14.32808 ± -7.52558
9,10,3406.027967,8.528918e+04,767.206503,-12.327235,-7.212281,-12.32723 ± -7.21228
10,11,3685.485847,1.048790e+06,1254.612425,-15.051721,-7.746274,-15.05172 ± -7.74627
11,12,3754.036448,8.578675e+05,1172.657060,-14.833551,-7.672928,-14.83355 ± -7.67293
12,13,798.731120,3.844310e+04,741.732881,-11.462046,-7.175619,-11.46205 ± -7.17562
13,14,1777.859011,1.019788e+05,789.311690,-12.521275,-7.243121,-12.52128 ± -7.24312

## i' Filter Table and Math

In [58]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import odr

df = pd.read_csv(r"C:\Users\Jonathan Chavez\OneDrive\Desktop\GBO-Calibration\i'filter.csv",
                 sep=",", encoding='cp1252')

df.head()

   id      xCenter  aperture_sum  aperture_sum_err
0   1  2830.680412  2.024634e+06       1564.044508
1   2  2075.396365  4.029140e+04        669.371783
2   3  2338.918181  3.912937e+04        656.629031
3   4  2173.533134  2.382374e+04        638.888292
4   5   420.414143  1.424999e+05        738.369770

In [59]:
df['log_sum'] = -2.5 * np.log10(df['aperture_sum'])
df['log_err'] = -2.5 * np.log10(df['aperture_sum_err'])

df['log_sum_with_error'] = df.apply(lambda row: f"{row['log_sum']:.5f} ± {row['log_err']:.5f}", axis=1)
print(df.log_sum_with_error)

0     -15.76587 ± -7.98562
1     -11.51303 ± -7.06417
2     -11.48126 ± -7.04330
3     -10.94252 ± -7.01356
4     -12.88454 ± -7.17068
5     -13.83549 ± -7.33568
6     -11.45763 ± -7.04324
7     -14.57301 ± -7.53926
8     -13.71674 ± -7.31305
9     -12.19029 ± -7.08952
10    -15.20823 ± -7.76522
11    -14.55396 ± -7.53667
12    -11.33585 ± -7.05769
13    -12.37604 ± -7.12518
Name: log_sum_with_error, dtype: object

# # Instrumental Magnitudes Table

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import odr

df = pd.read_csv(r"C:\Users\Jonathan Chavez\OneDrive\Desktop\GBO-Calibration\instrumentals.csv",
                 sep=",", encoding='cp1252') #Note: In this CSV file, logarithms are already taken

df.head()

     Ra (deg)  Dec (deg)      g’  g’err      i’  i’err
0  209.397542  -9.752132  11.223  0.020  10.771  0.076
1  209.318113  -9.627305  16.077  0.029  14.936  0.056
2  209.360342  -9.411171  15.534  0.072  14.891  0.064
3  209.344599  -9.354614  16.072  0.057  15.411  0.068
4  209.137084  -9.480872  14.154  0.051  13.547  0.034